@import "compass/reset";
@import "compass/css3";

body {
  background: #f5f5f5;
  font-family: "微软雅黑","Arial","Helvetica","sans-serif";
}

.hide { display: none; }
.wrapper {
  width: 1000px;
  margin: 0 auto;
  @media screen and (max-width:999px) {
    width: 94%;
    margin: 0 auto;
  }
}
.logo { text-align: center; margin-bottom: 30px; margin-top: 40px; }
.tips { color: #999; font-size: 14px; text-align: center; margin-bottom: 50px; }

.unit {
  margin-bottom: 90px;
  @media screen and (max-width:550px) {
    margin-bottom: 50px;
  }

  .unit-title {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
    @media screen and (max-width:550px) {
      font-size: 18px;
    }
  }

  .unit-detail {
    /*@include display-flex;*/
    /*@include flex-flow(row wrap);*/
    /*@include justify-content(space-between);*/
    text-align: justify;
    font-size: 0.1px;
  }
  .unit-detail:after {
    content: '';
    width: 100%;
    @include inline-block;
  }

  a {
    @include inline-block;
    background: rgba(255,255,255,0.8);
    margin: 0 0 20px 0;
    font-size: 20px;
    width: 15%;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    color: #fff;

    &:hover {
      @include opacity(0.8);
    }

    @media screen and (max-width:900px) {
      width: 18%;
      font-size: 18px;
      margin-bottom: 20px;
      height: 60px;
      line-height: 60px;
    }

    @media screen and (max-width:750px) {
      width: 23%;
      font-size: 18px;
      margin-bottom: 20px;
      height: 60px;
      line-height: 60px;
    }

    @media screen and (max-width:550px) {
      width: 31%;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .placeholder {
    padding: 0;
    height: 0;
  }
}

.unit .theme1 { background: #1abc9c; }
.unit .theme2 { background: #2ecc71; }
.unit .theme3 { background: #3498db; }
.unit .theme4 { background: #9b59b6; }
.unit .theme5 { background: #34495e; }
.unit .theme6 { background: #16a085; }
.unit .theme7 { background: #27ae60; }
.unit .theme8 { background: #2980b9; }
.unit .theme9 { background: #8e44ad; }
.unit .theme10 { background: #2c3e50; }
.unit .theme11 { background: #f1c40f; }
.unit .theme12 { background: #e67e22; }
.unit .theme13 { background: #e74c3c; }
.unit .theme14 { background: #95a5a6; }
.unit .theme15 { background: #f39c12; }
.unit .theme16 { background: #d35400; }
.unit .theme17 { background: #c0392b; }
.unit .theme18 { background: #7f8c8d; }
.unit .more { background: #ddd; color: #111; }
